<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.IDao.NetDataSourceMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.NetDataSource">
    <id column="DS_ID" jdbcType="BIGINT" property="dsId" />
    <result column="CsvName" jdbcType="VARCHAR" property="csvname" />
    <result column="DS_NAME" jdbcType="VARCHAR" property="dsName" />
    <result column="DS_DESC" jdbcType="VARCHAR" property="dsDesc" />
    <result column="Type" jdbcType="INTEGER" property="type" />
    <result column="timestamp" jdbcType="BIGINT" property="timestamp" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    DS_ID, CsvName, DS_NAME, DS_DESC, Type, timestamp, state
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select
    *
    from NetDataSource
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from NetDataSource
    where DS_ID = #{dsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from NetDataSource
    where DS_ID = #{dsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.NetDataSource">
    insert into NetDataSource (DS_ID, CsvName, DS_NAME, 
      DS_DESC, Type, timestamp, 
      state)
    values (#{dsId,jdbcType=BIGINT}, #{csvname,jdbcType=VARCHAR}, #{dsName,jdbcType=VARCHAR}, 
      #{dsDesc,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{timestamp,jdbcType=BIGINT}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.NetDataSource">
    insert into NetDataSource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dsId != null">
        DS_ID,
      </if>
      <if test="csvname != null">
        CsvName,
      </if>
      <if test="dsName != null">
        DS_NAME,
      </if>
      <if test="dsDesc != null">
        DS_DESC,
      </if>
      <if test="type != null">
        Type,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dsId != null">
        #{dsId,jdbcType=BIGINT},
      </if>
      <if test="csvname != null">
        #{csvname,jdbcType=VARCHAR},
      </if>
      <if test="dsName != null">
        #{dsName,jdbcType=VARCHAR},
      </if>
      <if test="dsDesc != null">
        #{dsDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.NetDataSource">
    update NetDataSource
    <set>
      <if test="csvname != null">
        CsvName = #{csvname,jdbcType=VARCHAR},
      </if>
      <if test="dsName != null">
        DS_NAME = #{dsName,jdbcType=VARCHAR},
      </if>
      <if test="dsDesc != null">
        DS_DESC = #{dsDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        Type = #{type,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where DS_ID = #{dsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.NetDataSource">
    update NetDataSource
    set CsvName = #{csvname,jdbcType=VARCHAR},
      DS_NAME = #{dsName,jdbcType=VARCHAR},
      DS_DESC = #{dsDesc,jdbcType=VARCHAR},
      Type = #{type,jdbcType=INTEGER},
      timestamp = #{timestamp,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER}
    where DS_ID = #{dsId,jdbcType=BIGINT}
  </update>
</mapper>